.burger-wrap {
	display: inline-block;
	transition: all .2s ease;

	& .burger {
		width: 42px;
		height: 36px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		position: relative;
		cursor: pointer;
	}

	& .burger span {
		width: 32px;
		height: 5px;
		display: block;
		border-radius: 4px;
		background:#fff;
		position: absolute;
		transition: all 0.2s;
	}

	& .burger span:nth-child(1) {
		top:5px;
		width: 15px;
		left: 5px;
	}

	& .burger span:nth-child(4) {
		bottom:5px;
	}

	.second {
		transform: rotate(45deg);
	}

	.third {
		transform: rotate(-45deg);
	}

	.first {
		transform:  scale(0) !important;
	}

	.fourth {
			transform: scale(0) !important;
	}
}